#login,
#signup {
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

#pages {
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}

#login:hover {
    color: rgba(255, 255, 255, 0.753);
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#signup:hover {
    color: rgba(255, 255, 255, 0.753);
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

#pages:hover {
    color: rgba(255, 255, 255, 0.753);
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}


.logo {
    /* padding-left: 12%; */
    z-index: 0;
}

header {
    margin: 0;
    top: 0;
    padding-top: 38px;
    padding-bottom: 38px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: right;
}

/* ------------------------------------------------------------------ */
/* Glow animation
/* ------------------------------------------------------------------ */

.bulb {
    animation: glow 1s infinite alternate;
    height: 32px;
    width: 31px;
    border-radius: 16px;
    z-index: 2;
    position: Absolute;
    background-color: transparent;
    margin-left: 147px;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -8px #ffffffa4;
  }
  to {
    box-shadow: 0 0 10px 16px #fdd38586;
  }
}
