#mainCard {
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
#mainCard > div.container {
    width: auto;
    height: fit-content;
}
span {
    color: var(--default-foreground);
    font-size: var(--section-header);
    font-style: small;
    font-weight: var(--hero-weight);
    line-height: 47px;
    text-align: left;
}
.fas {
    font-size: large;
}
.locBtn {
    background-color: #9416FB;
    color: white;
}
#mainCard > div.container > div > div > div.row {
    justify-content: center;
}

#mainCard > div:nth-child(3) {
    top: 750px;
}
.section-header-spacing {
    padding: 20px 0px 20px 0px;
}
