html {
    position: relative;
    width: 1540px;
    height: 2000px;
    background: linear-gradient(228.39deg, #E6016F 1.32%, #FB6716 100%);
    ;
}
#mainCard {
    position: absolute;
    width: 1199px;
    height: 1567px;
    left: 124px;
    top: 136px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
